{{>layout/header}}
<h1>스프링부트로 시작하는 웹 서비스</h1>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            {{#userName}}
                <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
            {{/userName}}
            {{^userName}}
                <button type="button" class="btn btn-outline-primary" onclick="alertLogin()">글 등록</button>
            {{/userName}}
        </div>
    </div>
    <br>
    <!-- 목록 출력 영역 -->
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
            <tr>
                <th>게시글번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>최종수정일</th>
            </tr>
        </thead>
        <tbody id="tbody">
            {{#posts}}
                <tr>
                    <td>{{id}}</td>
                    <td><a href="/posts/update/{{id}}">{{title}}</a></td>
                    <td>{{author}}</td>
                    <td>{{modifiedDate}}</td>
                </tr>
            {{/posts}}
        </tbody>
    </table>
    <div class="modal fade" id="loginModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">로그인이 필요합니다</h5>
                </div>
                <div class="modal-body">
                    글을 등록하려면 로그인이 필요합니다.
                </div>
                <div class="modal-footer">
                    <a href="/oauth2/authorization/google" class="btn btn-success">Google 로그인</a>
                    <a href="/oauth2/authorization/naver" class="btn btn-secondary">Naver 로그인</a>
                </div>
            </div>
        </div>
    </div>
</div>

{{>layout/footer}}